@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

/* Hidding toggle and formatting double arrow icon just a little bit. Rotation just to add a little spice with a transition */
#toggle-sb{
    width: 24px;
    opacity: 0;
}

.sidebar-switch{
  margin-left: 8px;
  transform: rotate(180deg);
  font-size: 1.25em;
  line-height: .05em;
  vertical-align: -0.075em;
}

/* Trick goes from having the sidebar hidden at first, and then removing that transformation thought clicking the input (inspiration here: https://css-tricks.com/almanac/selectors/c/checked/) 
Feel free to add more transitions with unchecked state
*/
#side-slide-control{
  transform: translateX(-230px);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0;
  z-index: 2;
}

#toggle-sb:checked + label{
  transform:none;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#toggle-sb:not(:checked) + label{
    transform: rotate(180deg);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

#toggle-sb:checked ~ #side-slide-control{
  transform: none;
  opacity: 1;
}

#toggle-sb:not(:checked) ~ #side-slide-control{
    transform: translateX(-230px);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 1;
  }

body.waiting * {
    cursor: progress;
}

.banner-with-sidebar {
    padding: 60px;
    text-align: center;
    background: rgb(13, 109, 253);;
    color: white;
    font-size: 30px;
  }

.banner-login-element {
    margin-right: 5px;
    margin-left: 75%;
    padding: 0px;
    text-align: right;
    font-size: 12px;
}

.container {
    margin: 50px auto;
    width: auto;
}

.page-with-sidebar {
    margin-left: 300px;
    position: relative;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    background-color: rgb(50, 40, 40);
}

.input-icon {
    height: 24px;
    width: 24px;
    position: relative;
    background: 0;
    border: 0;
    left: 19.5em;
    top: 1.75em;
}

.box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.box-2 {
    padding: 10px
}

.box-1,
.box-2 {
    width: 100%
}

.h-1 {
    font-size: 24px;
    font-weight: 700
}

.text-muted {
    font-size: 14px
}

.container .box {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    text-decoration: none;
    color: #615f5fdd
}

.box:active,
.box:visited {
    border: 2px solid #ee82ee
}

.box:hover {
    border: 2px solid #ee82ee
}

.btn.btn-primary {
    background-color: transparent;
    color: #ee82ee;
    border: 0px;
    padding: 0;
    font-size: 14px
}

.btn.btn-primary .fas.fa-chevron-right {
    font-size: 12px
}

.footer .p-color {
    color: #ee82ee
}

.footer.text-muted {
    font-size: 10px
}

.fas.fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    background-color: #f3cff379;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center
}

.fas.fa-times:hover {
    color: #ff0000
}

.btn-color {
    color: #ee82ee
}

@media (max-width:767px) {
    body {
        padding: 10px
    }

    .body {
        width: 100%;
        height: 100%
    }

    .box-1 {
        width: 100%
    }

    .box-2 {
        width: 100%;
        height: 440px
    }
}

.sidenav-opened {
    width: 290px;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin: 0;
    left: 0px;
}

.sidenav-closed {
    width: 290px;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin: 0;
    left: -280px;
}

.sidenav-close-animation {
    width: 290px;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin: 0;
    left: 0px;
    animation-name: sidenav-slide;
    animation-duration: 1s;
}

.sidenav-open-animation {
    width: 290px;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin: 0;
    left: 0px;
    animation-name: sidenav-slide;
    animation-duration: 1s;
    animation-direction: reverse;
}

.sidenav-button-close {
    height: 100%;
    width: 20px;
    position: absolute;
    z-index: 1;
    left: 145px;
}

.sidenav-button-open {
    height: 100%;
    width: 20px;
    position: absolute;
    z-index: 1;
    left: -145px;
    transform: rotateY(180deg);
}

.sidenav-button-close-animation {
    height: 100%;
    width: 20px;
    position: absolute;
    z-index: 1;
    left: 0px;
    animation-name: sidenav-button-slide;
    animation-duration: 1s;
}

.sidenav-button-open-animation {
    height: 100%;
    width: 20px;
    position: absolute;
    z-index: 1;
    left: -140px;
    animation-name: sidenav-button-slide;
    animation-duration: 1s;
    animation-direction: reverse;
    transform: rotate(180deg);
}

.sidenav-element {
    margin-left: 2px;
    cursor: pointer;
    width: 12em;
    text-align: left;
}

.button-open-close {
    border: 0;
    position: absolute;
    z-index: 1;
}

.clickable:hover {
    cursor: pointer;
}

.bottom-nav {
    height: 50px;
    padding-top: 0rem;
}

.cards{
    margin: 1em;
}

/* force the icon color to change into #0d6efd*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230d6efd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230d6efd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* payment page */

.payment-input-label {
    justify-content: space-between;
}